.col-xs-2
  = f.input :scenario, label: false , as: :check_boxes, collection: ['social vk'], required: false, input_html: { class: "soc-auth"}
  = f.input :scenario, label: false , as: :check_boxes, collection: ['social google'], required: false, input_html: { class: "soc-auth"}
  = f.input :scenario, label: false , as: :check_boxes, collection: ['social facebook'], required: false, input_html: { class: "soc-auth"}
