
= link_to image_tag("back.png", class: 'arrow'), request.referer.present? ? request.referer : homepage_path
= link_to image_tag("reload.png", class: 'reload-page')
= link_to image_tag("HomeBtn.png", class: 'home-page'), :homepage
= link_to image_tag("users.png", class: 'users-page'), :users, target: "_blank"
= link_to image_tag("users_part.ico", class: 'users-part-page'), :partners, target: "_blank"
= link_to image_tag("que.png", class: 'que-web-page'), :que_web, target: "_blank"
= link_to image_tag("branch.png", class: 'branch-page'), :homepage_deploy_branch_current, target: "_blank"
