// Place all the styles related to the page_cucumber controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_stage_ui{
  padding-top: 100px;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 10px;
  &:after {
    content:'';
    position: fixed;
    width: 100vw;
    height: 70vh;
    top:170px;
    left: 0;
    z-index: -1;
    opacity: 0.1;
  }
}

.form-group {
  color: white;
}
.fields {
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
}

.form-part {
  text-transform: capitalize;
  border-bottom: 1px solid #000;
  padding: 30px 0;
  margin-bottom: 40px;
}

 .submit_btn {
   font-size: 12px;
   text-transform: uppercase;
   text-align: center;
   background: none;
   height: 40px;
   padding: 0 20px;
   line-height: 36px;
   border: 3px solid black;
   transition: background 0.5s ease;
   margin-left: 10px;
   &:hover {
     background: #4F9DED;
  }
}

 .actions-btns {
   padding: 2.3% 0 0 60%;
   position: fixed;
   z-index: 100;
   top: -40px;
 }

  .two_button{
    padding: 2.3% 0% 0% 10%;
  }

  .bonus-dep {
    display: inline-flex;
  }

  .bonus-dep  {
    display: inline-flex;
  }

.pid_process_ws {
  position: fixed;
  top: 40px;
  right: 100px;
}

.pid_process_rails {
  position: fixed;
  top: 90px;
  right: 100px;

  }
