body {
  background: image-url('homepage.jpg');
  background-size: cover;
}

.platform {
  text-align: center;
  float: none;
  margin: 28% 0% 0% 0%;
  text-transform: uppercase;
  text-decoration: none;
}

.platform:hover {
  text-decoration: none;
}
body {
  background: image-url('homepage.jpg');
  background-size: cover;
}
